<!DOCTYPE html>
<html>

<head>
  <title></title>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Online Collaboration Tool & Intranet Solution | IntraKonnect</title>
    <meta name="description" content="A team collaboration software providing digital workplace with collaborative solutions to the enterprise. The best online collaboration tool for business!">
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landingpage.css">
    <link rel="shortcut icon" href="images/favicon.png">
  </head>

  <body>
    <header id="main-navigation">
      <div id="navigation" data-spy="affix" data-offset-top="20">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <ul class="top-right text-right">
                <li><a href="https://www.facebook.com/intrakonnect/" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/IntraKonnect" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/intrakonnect/" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <nav class="navbar navbar-default">
                <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true">
                    <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
                  </button>
                  <a class="navbar-brand logo" href="index.html"><img src="../images/xecurebot-logo.svg" alt="logo" class="img-responsive"></a>
                </div>
                <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
                  <ul class="nav navbar-nav">
                    <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li class="active">
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="aboutus.html">About</a>
                    </li>
                    <li>
                      <a href="Blogs">Blog</a>
                    </li>
                    <li>
                      <a href="faqs.html">Faq</a>
                    </li>
                    <li>
                      <a href="connect.html">Connect</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="landing-section">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <h1 class="main-heading">THIS IS XecureBot. <br>
				THE ULTIMATE TECHNOLOGY</h1>
          </div>
        </div>
      </div>
    </section>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <h1>lkjd </h1>
    <script src="../js/jquery-2.1.4.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.themepunch.tools.min.js"></script> -->
    <!-- <script src="js/jquery.themepunch.revolution.min.js"></script> -->
    <!-- <script src="js/jquery.fancybox.js"></script> -->
    <!-- <script src="js/owl.carousel.min.js"></script> -->
    <script src="../js/functions.js"></script>
  </body>
  <script>


  </script>

</html>
</body>

</html>
